.button {
  display: flex;
  height: var(--button-height);
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  border: none;
  border-radius: var(--button-border-radius);
  outline: none;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 0 2px 0 0 #000;
  transform: translateY(-2px);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.button:focus {
  box-shadow: var(--ring-box-shadow), 0 2px 0 0 #000;
  transform: translateY(-2px);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.button:active {
  box-shadow: none;
  transform: none;
}

.button:active:focus {
  box-shadow: var(--ring-box-shadow);
}

.button_view_primary {
  background-color: var(--color-primary);
  color: #fff;
}

.button_view_secondary {
  background-color: var(--color-secondary);
}

.button_size_s {
  --button-height: var(--button-size-s-height);
}

.button_size_m {
  --button-height: var(--button-size-m-height);
}

.button_size_l {
  --button-height: var(--button-size-l-height);
}
